@import 'nib/vendor'
@import 'nib/gradients'

cayene= #e46764
rojo= #d81e05 //216,30,5
paloma= #aab1b0 //70,177,176
dazzling_blue= #006bb6
azul= #003f87 //0, 63, 135
celosia= #f47d44 //244,125,65
celeste= #51bfe2 //81, 181, 224

html
	background url(imagenes/conta04.jpg) no-repeat fixed center
	background-size: cover;
	body
		#contenedor
			height 2200px
			width 1000px
			margin 0 auto
			.para_scroll
				#bienvenida
					width 1000px
					margin 20px auto 0 auto
					img
						width 100%
						margin 0
					#mensaje_bienvenida
						//visibility hidden
						position absolute
						padding 2em 3em
						background-color paloma
						color #000
						opacity .7
						top 20%
						left 7%
				#contacto
					background-color white
					border-radius 20px
					padding 3em 2em 4em 2em
					margin-top 30px
				#somos
					width 1000px
					margin 0 auto
					margin-top 30px
					background-color white
					border-radius 20px
					padding 3em 2em 4em 2em
					img
						width 100%
		footer
			background-color paloma
			padding 4em 2em
			#data_contacto
				width 280px
				#datos_footer
					list-style none
					font-size 12px
					li
						border-bottom 1px solid black
		header
			background-color celeste
			padding 4em 1em
			#empresa
				margin 0
				color white
			