.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  position: relative;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  z-index: 1;
  }
.rslides p {
  background-color: rgba(0,0,0,0.5);
  padding: 2em .5em;
  position: absolute;
  width: 100%;
  margin: 0;
  top: 80%;
  z-index: 2; 
}

.rslides_nav.rslides1_nav {
  position: absolute;
  color: white;
  top:52%;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  padding: 1em;
  z-index: 3;
}